doctype html
html
  head
    title Nritya Vidyalaya
    block scripts 
    block style   
  body
    nav#navbar
      ul
            div#logo 
              | NrityaVidyalaya
            li #[a(href="/") Home]
            li #[a(href="/") About]
            li #[a(href="/") Services]
            li #[a(href="/") Class Info]
            li #[a(href="/") Contact Us]
    block content
    footer#footer
        | Copyright @ 2021 Nritya Vidyalaya.com | All rights reserved 