doctype html
html
  head
    title Nritya Vidyalaya
    block scripts 
    block style   
  body
    nav#navbar
      ul
            div#logo 
              | NrityaVidyalaya
            li #[a(href="/") Home]
            li #[a(href="#styles") Your Style]
            li #[a(href="#WhyUs") Why Us!]
            li #[a(href="/contact") Contact Us]
    block content
    footer#footer
        | Copyright @ 2021 Nritya Vidyalaya.com | All rights reserved 