extends base.pug

block scripts 
  script(src="/static/script.js")

block style 
  style 
    include ../static/style.css
    include ../static/styleContact.css

block content
  div.container 
    h1 Contact Us 
    form(class="myform", action="/contact", method="post")
      input(class="myinput", type="text", name="name",placeholder="Enter your name")
      input(class="myinput", type="text", name="phone",placeholder="Enter your phone number")
      input(class="myinput", type="text", name="email",placeholder="Enter your email")
      input(class="myinput", type="text", name="address",placeholder="Enter your address")
      input(class="myinput", type="text", name="desc",placeholder="Enter your concern")
      button(class="btn")
        | Submit